@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&subset=latin-ext');

body {
    font-family: 'Montserrat', sans-serif;
}

// Header

header {
    position: absolute;
    top: 0;
    height: 100px;
    width: 100%;
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 640px) {
        padding: 0 20px;
        height: 60px;
    }
    @media (max-width: 750px) and (min-width: 640px) {
        padding: 0 30px;
    }
    .scroll-up {
        position: fixed;
        right: 50px;
        bottom: 50px;
        display: none;
        width: 60px;
        height: 60px;
        text-align: center;
        padding-top: 5px;
        color: $mainBlue;
        font-size: 2.5rem;
        border: 1px solid $mainBlue;
        background: #000;
    }
    div.header-logo {
        font-size: 2rem;
        font-weight: bold;
        color: #FFF;
        span {
            color: $mainBlue;
        }
    }
    a.menu {
        display: block;
        width: 40px;
        height: 30px;
        position: relative;
        span {
            position: absolute;
            width: 100%;
            height: 2px;
            background: #FFF;
            transition: .4s;
            &:first-of-type {
                top: 0;
            }
            &:nth-of-type(2) {
                height: 1px;
                top: 14px;
            }
            &:last-of-type {
                top: 26px;
            }
        }
        &:hover {
            span {
                background: $mainBlue;
                &:first-of-type {
                    top: 26px;
                }
                &:last-of-type {
                    top: 0;
                }
            }
        }
    }
}

// NAVIGATION

nav {
    position: fixed;
    top: 0;
    right: -280px;
    background: #0C0C0C;
    height: 100%;
    width: 280px;
    color: #fff;
    padding: 1.25rem;
    z-index: 700;
    a.nav-close {
        @extend %clearfix;
        cursor: pointer;
        div {
            position: relative;
            width: 50px;
            height: 50px;
            padding: 10px;
            float: right;
            span {
                transition: .3s;
                display: block;
                position: absolute;
                height: 2px;
                width: 30px;
                background: #FFF;
                top: 22px;
            }
            span:first-of-type {
                transform: rotate(135deg);
            }
            span:last-of-type {
                transform: rotate(45deg);
            }
        }
        &:hover {
            span {
                background: $mainGray;
            }
        }
    }
    h2 {
        font-size: 1rem;
        text-align: center;
        color: $mainBlue;
        margin-bottom: 1.5em;
    }
    ul, ol {
        list-style-type: none;
        position: relative;
        left: 100px;
        opacity: 0;
    }
    ul.nav-main-list {
        li {
            a {
                display: block;
                color: #fff;
                text-decoration: none;
                font-size: 1.25rem;
                padding: 10px;
                transition: .3s ease-in-out;
            }
            &:hover {
                a {
                    color: $mainBlue;
                    transform: scale(1.1);
                    font-weight: bold;
                }
            }
        }
    }
    p {
        padding: 4rem 0;
        color: $mainGray;
        text-align: justify;
        position: relative;
        left: 100px;
        opacity: 0;
    }
    ol.nav-socials {
        display: flex;
        justify-content: space-around;
        li {
            transition: .3s;
            a {
                color: $mainGray;
                font-size: 2em;
                transition: .3s;
            }
            &:hover {
                transform: scale(1.25);
                a {
                    color: $mainBlue;
                }
            }
        }
    }
}


// SECTION HOME

#home {
    background: url('../images/bg.jpg') no-repeat center/cover;
    width: 100%;
    min-height: 100vh;
    .overlay {
        width: 100%;
        min-height: 100vh;
        background: rgba(0, 0, 0, .6);
        padding: 35vh 10px 0 10px;
        @media (max-width: 640px) {
            padding: 20vh 10px 0 10px;
        }
        @media (max-width: 340px) {
            min-height: 110vh;
        }
        @media (min-width: 641px) and (max-width: 750px){
            padding: 20vh 10px 0 10px;
        }
        .home-content {
            width: 70%;
            margin-left: 10vw;
            float: left;
            @media (max-width: 640px) {
                width: 100%;
                margin-left: 0;
            }
            h1, h3 {
                color: #FFF;
            }
            h3 {
                text-transform: uppercase;
                padding: 20px 0;
                @media (max-width: 640px) {
                    font-size: 1rem;
                }
            }
            h1 {
                font-size: 3rem;
                line-height: 150%;
                @media (max-width: 640px) {
                    font-size: 1.75rem;
                }
            }
            a {
                display: inline-block;
                width: 180px;
                border: 1px solid #FFF;
                color: #FFF;
                text-align: center;
                text-decoration: none;
                text-transform: uppercase;
                padding: 20px;
                transition: .3s;
                font-weight: bold;
                margin-top: 2.75rem;
                &:hover {
                    background: #FFF;
                    color: #000;
                }
                &:active {
                    background: #888;
                    border: 1px solid #888;
                }
                @media (max-width: 640px) {
                    &:last-of-type {
                        margin-top: 1em;
                    }
                }
            }
        }
        ul {
            float: right;
            padding-top: 6rem;
            list-style-type: none;
            font-size: 1.75rem;
            margin-right: 1em;
            text-align: center;
            display: none;
            @media (min-width: 641px) {
                display: block;
            }
            li {
                transition: .3s ease-in-out;
                a {
                    display: block;
                    padding: 10px;
                    color: #FFF;
                    transition: .3s ease-in-out;
                }
                &:hover {
                    transform: scale(1.2) skewX(-5deg);
                    a {
                        color: $mainBlue;
                    }
                }
            }
        }
    }
}


// SECTION ABOUT && TECHNOLOGIES && PROJECTS

#about, #technologies, #projects, #contact {
    min-height: 40vh;
    h3, h1 {
        text-transform: uppercase;
        text-align: center;
    }
    h1 {
        font-size: 3rem;
        @media (max-width: 640px) {
            font-size: 1.8rem;
        }
    }
    span {
        display: block;
        margin: 0 auto;
        background: #000;
        height: 2px;
        width: 35%;
    }
}

// section about

#about {
    padding: 6rem 10px;
    background: $mainBlue;
    h1 {
        color: #FFF;
    }
    p {
        text-align: center;
        font-size: 1.5rem;
        padding: 2em 0;
        @media (max-width: 640px) {
            font-size: 1.25rem;
        }
    }
}

// section technologies

#technologies {
    padding: 6rem 10px;
    .row:last-of-type {
        padding-top: 2.5rem;
        .tech-box {
            @extend %clearfix;
            text-align: justify;
            padding: 0.625rem;
            .tech-icon {
                float: left;
                width: 15%;
                font-size: 2.5rem;
                color: $mainBlue;
                @media (max-width: 380px) {
                    font-size: 2rem;
                }
            }
            .tech-description {
                float: right;
                padding: 0 10px;
                width: 85%;
                border-left: 1px solid #000;
                h2 {
                    color: $mainBlue;
                    padding-bottom: 10px;
                }
            }
        }
    }
}


// section projects

#projects {
    .projects-header {
        padding: 6rem 10px;
        background: #000;
        min-height: 60vh;
        h3 {
            color: $mainBlue;
        }
        h1 {
            color: #FFF;
        }
        span {
            background: $mainBlue;
        }
    }
    .projects-content {
        margin-top: -11rem;
        margin-bottom: 4rem;
        column-count: 2;
        column-gap: 0.625rem;
        @media (max-width: 640px) {
            column-gap: 0.3125rem;
        }
        @media (max-width: 380px) and (max-height: 650px){
            margin-top: -5rem;
        }
        .project {
            display: inline-block;
            margin-bottom: 0.625rem;
            @media (max-width: 640px) {
                margin-bottom: 0.3125rem
            }
            .overlay {
                overflow: hidden;
                position: relative;
                img {
                    transition: .3s ease-in-out;
                    transform: scale(1.05);
                }
                .project-info {
                    position: absolute;
                    top: 0;
                    left: 0;
                    background: #000;
                    width: 100%;
                    height: 100%;
                    opacity: 0.75;
                    transition: .3s ease-in-out;
                    a {
                        color: #FFF;
                        display: block;
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        border: 1px solid #FFF;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        position: absolute;
                        top: -100px;
                        left: 20px;
                        transition: top .5s ease-in-out, color .3s ease-in-out, border .4s ease-in-out;
                        @media (max-width: 525px) {
                            width: 25px;
                            height: 25px;
                            left: 10px;
                        }
                        &:hover {
                            color: $mainBlue;
                            border: 1px solid $mainBlue;
                        }
                    }
                    .project-description {
                        transition: bottom .5s ease-in-out;
                        position: absolute;
                        bottom: -125px;
                        color: #FFF;
                        padding: 0.625rem;
                        text-align: justify;
                        h3 {
                            text-align: left;
                            @media (max-width: 525px) {
                                font-size: 1rem;
                            }
                        }
                        p {
                            @media (max-width: 525px) {
                                font-size: 0.625rem;
                            }
                        }
                    }
                }
                &:hover {
                    img {
                        transform: scale(1.15);
                    }
                    .project-info {
                        a {
                            top: 20px;
                        }
                        .project-description {
                            bottom: 0;
                        }
                    }
                }
            }
        }
    }
}

// section CONTACT
#contact {
    background: url('../images/lostPlace.jpg') no-repeat center/cover;
    padding: 6rem 10px;
    h3 {
        color: $mainBlue;
    }
    h1 {
        color: #FFF;
    }
    span {
        background: $mainBlue;
    }
    .contact-main {
        @extend %clearfix;
        margin-top: 4rem;
        background: rgba(12, 12, 12, .95);
        padding: 10px;
        .contact-form {
            float: left;
            width: 60%;
            form {
                input, textarea {
                    background: transparent;
                    width: 100%;
                    color: $mainBlue;
                    padding: 10px;
                    font-size: 1.25rem;
                    border: none;
                    outline: none;
                    border-bottom: 1px solid #333;
                    font-family: 'Montserrat', sans-serif;
                    transition: .3s ease-in-out;
                    margin-bottom: 1.5rem;
                    &::placeholder {
                        color: #555;
                    }
                    &:focus {
                        border-bottom: 1px solid $mainBlue;
                    }
                }
                input[type='submit'] {
                    background: $mainBlue;
                    color: #000;
                }
                textarea {
                    resize: vertical;
                }
            }
        }
        .contact-info {
            padding: 20px 0 20px 40px;
            float: left;
            width: 40%;
            h3 {
                text-transform: none;
                text-align: left;
                padding: 10px 0;
            }
            p {
                color: #FFF;
                line-height: 150%;
            }
        }
    }
}
