.container{
   width: 100%;
   max-width: $gridContainerWidth;
   margin: 0 auto;
   .row{
      @extend %clearfix;
      [class*='col-']{ 
         width: 100%; 
         @media (min-width: $gridBreakPoint){
            width: 100%/$gridColumns;
            float: left;
            min-height: 1px;
         }
      }
      @media (min-width: $gridBreakPoint){ 
         @for $i from 1 through $gridColumns{ 
            .col-#{$i}{ 
               width: (100%/$gridColumns) * $i; 
            }
         }
      }
   }
}
